[submodule "src/CodeContractNullability/CodeContractNullability.Test/RoslynTestFramework"]
	path = src/CodeContractNullability/CodeContractNullability.Test/RoslynTestFramework
	url = https://github.com/bkoelman/RoslynTestFramework
